
{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}



{% block content %}
<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-10 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Profile</h2>
                    <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                    <img src="{{request.user.pic.url}}" class="img-rounded" alt="Cinque Terre"> 
                    {% for msg in messages %}
                    <p>{{msg}}</p>
                    {% endfor %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="pl-lg-4">
							<div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">First_Name</label>
                                        {{form.first_name}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Last_name</label>
                                        {{form.last_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Username</label>
                                        {{form.username}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        {{form.email}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Gender</label>
                                        {{form.gender}}
                                    </div>
                                </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Number</label>
                                            {{form.mobile}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Profile Pic</label>
                                            {{form.pic}}
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                       
                        <button class="btn btn-primary" type="submit" style="margin-left: 20px;">Change Profile</button>
                    </form>
                </div>
			</div>
		</div>
	</div>
</section> 


{% endblock %}