{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>Search</title>
{% endblock %}



{% block content %}
    </form>
    <div class="row shuffle-wrapper portfolio-gallery">
        {% for user in user %}
        {% if user.role == 'doctor' %}
        <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat2&quot;]">
            <div class="position-relative doctor-inner-box">
                {% if user.pic %}
                <div class="doctor-profile">
                    <div class="doctor-img">
                    <img src="{{user.pic.url}}" alt="doctor-image" width="200" height="200"><br>
                    </div>
                </div>
                {% endif %}
                <div class="content mt-3">
                    <h4>{{user.first_name}} {{user.last_name}}</h4>
                    <p>degree:{{user.types}} /specialty:{{user.specialty}}</p>   
                    <h4 class="mb-0"><a href="{% url 'view-doctor' user.id%}">views details</a></h4> 
                </div> 
            </div>
        </div>
    {% endif %}    
    {% endfor %}
    {% if slot %}
    </div>
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="name">Day</th>
              <th scope="col" class="sort" data-sort="budget">Time</th>
              <th scope="col" class="sort" data-sort="status">Available</th>
              <th scope="col" class="sort" data-sort="status">Doctor</th>
              <th scope="col" class="sort" data-sort="status"></th>
              <th scope="col" class="sort" data-sort="status">Clinic Name</th>
              <th scope="col" class="sort" data-sort="status"></th>
              <th scope="col" class="sort" data-sort="status">book</th>
              <th scope="col" class="sort" data-sort="status"></th>


    

            </tr>
          </thead>
          <tbody class="list">
            {% for slot in slot %}
            <tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="name mb-0 text-sm">{{slot.weeks}}</span>
                  </div>
                </div>
              </th>
              <td class="budget">
                <i class="fa fa-inr"></i> {{slot.timeslot}}
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  
                  <span class="status">{{slot.avalible_slot}}</span>
                </span>
                <td>
                  <span class="badge badge-dot mr-4">
                    
                  <span class="status">{{slot.doctor.first_name}} {{slot.doctor.last_name}}</span>
                  </span>
                <td>
                <td>
                  <span class="badge badge-dot mr-4">
                      
                  <span class="status">{{slot.doctor.clinicname}}</span>
                  </span>
                <td>
                 {% if slot.avalible_slot > 0 %}
                </td>
              <td>
                  <a class="nav-link" href="{% url 'view-appointment' slot.id %}">Book</a>
              </td>
              <td class="text-right">
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    
{% endblock %}
