{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>Add slot</title>
{% endblock %}



{% block content %}

    
<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-20 ">
			</div>
			<div class="col-lg-20 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Add Slot</h2>
                    {% for msg in messages %}
                    <p>{{msg}}</p>
                    {% endfor %}
					     <form method="POST" >
                             {% csrf_token %}
                         <div class="col-lg-6">
                            <div class="form-group">
                                <label>Day</label>
                                {{form.weeks}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Time</label>
                                {{form.timeslot}}
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <label>Avalible_slot</label>
                                {{form.avalible_slot}}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" style="margin-left: 20px;">Add</button>
                </form>
            </div>
			</div>
		</div>
	</div>
</section>

{% endblock %}