{% extends 'header.html' %} {% load static %} {% block title %}
<title>Profile Change</title>
{% endblock %} 



{% block content %}

<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-10 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Profile</h2>
                    <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                        {% endfor %}
                     <img src="{{request.user.pic.url}}" alt="doctor-image" width="200" height="200"><br>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Username</label>
                                        {{fm.username}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        {{fm.email}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Gender</label>
                                        {{fm.gender}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">degree</label>
                                        {{fm.types}}
                                    </div>
                                </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">specialty</label>
                                            {{fm.specialty}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">clinicname</label>
                                            {{fm.clinicname}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Number</label>
                                            {{fm.mobile}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Profile Pic</label>
                                            {{fm.pic}}
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Address</label>
                                        {{fm.addres}}
                                    </div>
                                    <a class="nav-item nav-link" href="{% url 'forgot-password' %}">Change Password</a>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" style="margin-left: 20px;">Change Profile</button>
                    </form>
                </div>
			</div>
		</div>
	</div>
</section> 
                
    {% endblock %}