{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>edit slot</title>
{% endblock %}



{% block content %}

{% for msg in messages %}
 <p>{{msg}}</p>
{% endfor %}
<form method="POST" >
    {% csrf_token %}
<div class="col-lg-6">
   <div class="form-group">
       <label>Day</label>
       {{form.weeks}}
   </div>
</div>
<div class="col-lg-6">
   <div class="form-group">
       <label>Time</label>
       {{form.timeslot}}
   </div>
</div>
<div class="col-lg-6">
   <div class="form-group">
       <label>Avalible_slot</label>
       {{form.avalible_slot}}
   </div>
</div>
</div>
<button class="btn btn-primary" type="submit" style="margin-left: 20px;">Add</button>
</form>


{% endblock %}